@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    background: url('../img/back.jpg');
    background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
    margin: 0;
}
/* HEADER */

header{
	color: white;
	height: 500px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
}

header h2{
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 2em;
    text-align: center;
}

/* SECTION */

.section{
    position: relative;
    padding: 60px 0 25px 0;
    width: 100%;
    background: #222f3e;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    margin-bottom: 500px;
}

.sectionTitle
{
    position: absolute;
    top: 10px;
    color: white;
    font-weight: 500;
    font-size: 1.6em;
}

/* ARTICLES 2 */


.sectionExtrait{
    width: 900px;
    margin: 0 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.extraitBloc{
    position: relative;
    width: 350px;
    background: #2c3e50;
    color: white;
    font-family: Roboto;
    border-radius: 5px;
    margin: 30px 30px;
    overflow: hidden;
    cursor: default;
}

.extraitImg{
    position: relative;
    width: 100%;
    transition: 0.3s all;
}

.extraitPlus{
    position: absolute;
    font-size: 3em;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
    color: #2c3e50;
    transition: 0.3s all;
    opacity: 0;
}

.extraitDesc{
    margin: 10px 20px;
}

.extraitDesc h2{
    transition: 0.3s all;
}

.extraitDesc p{
    margin-top: -5px;
    font-weight: 100;
    overflow: hidden;
}

.extraitDesc a{
    color: white;
}

.extraitDesc div
{
    margin-top: -20px;
    margin-bottom: 15px;
    height: 60px;
    overflow: hidden;
}

.extraitInfos{
    display: flex;
    margin-bottom: -20px;
}

.extraitInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px;
}

.extraitInfo i{
    margin: 10px;
    color: #2574a8;
}

.extraitBloc:hover .extraitImg{
    filter: sepia(100%);
    transform: scale(1.1);
}
.extraitBloc:hover .extraitPlus{
    opacity: 1;
}

.extraitBloc:hover .extraitDesc h2{
    color: #FB667A;
}


@media screen and (max-width: 500px) {

    /* ARTICLES */
    .articles {
        width: 350px;
    }
    .articlesDesc {
        width: 60%;
        padding-top: 0;
    }
    .articlesDesc p {
        display: inline-block;
        top: -35px;
        height: 65px;
        overflow: hidden;
    }
    .articlesInfos {
        justify-content: space-around;
        padding-right: 50px;
        top: -20px;
        margin: 0;
    }
    .infos {
        height: 40px;
    }
    .infos p {
        margin-top: 135px;
        margin-right: 10px;
    }
    .infos i {
        margin-right: 4px;
    }
}